body {
  margin: 0;
  padding: 0;
  height: 1000vh;
  font-family: serif;
}

.calendar-container {
  position: fixed;
  top: 0;
  left: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.dates-ring {
  position: absolute;
  height: 90vh;
  width: 90vh;
  border-radius: 50%;
}

.date-item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  white-space: nowrap;
  font-size: 0.8rem;
}

.sekki-container-circle {
  border: 2px solid black;
  border-radius: 50%;
  height: 60vh;
  aspect-ratio: 1/1;
  position: relative;
  transform-origin: center;
}
